<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.banhang">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Banhang">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".FormDNDK" />
        <activity android:name=".SeachView" />
        <activity android:name=".SanPhamPage" />
        <activity android:name=".chiTietSanPham" />
        <activity android:name=".FormTTCN" />
        <activity android:name=".LSTC"/>
        <activity android:name=".QLND"/>
        <activity android:name=".chiTietUser"/>
        <activity android:name=".donMua"/>
        <activity android:name=".QLDH"/>
        <activity android:name=".CTHoaDon"/>
        <activity android:name=".Activity.activity_capnhat"/>
        <activity android:name=".Activity.activity_capnhatsanpham"/>
        <activity android:name=".Activity.Activity_ThemSP"/>
        <activity android:name=".Activity.activity_capnhatthuonghieu"/>
        <activity android:name=".Activity.Activity_ThemTH"/>
        <activity android:name=".CTHoaDon_admin"/>
        <activity android:name=".ThongKe"/>
        <activity android:name=".TTLH"/>
        <activity android:name=".Quen_MK"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="net.smallacademy.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>